{% trans_default_domain 'FOSUserBundle' %}

¿Te gusta aparcar en doble fila, eh? Registrate y continúa haciendolo, pero sin
cargos de conciencia (si es que aún te queda un mínimo de decencia)
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
